<mat-toolbar color="primary">
  <span>{{ title | uppercase }}</span>
  <div class="nav">
    <a routerLink="home">Home</a>
    <a routerLink="create">Create post</a>
  </div>
</mat-toolbar>

<div class="main">
  <router-outlet></router-outlet>

  <!--<button mat-button color="primary" (click)="cardVisible = !cardVisible">Hide Card</button>

  <p *ngFor="let listItem of liste">{{ listItem }}</p>

  <p>Gehalt: {{ salary }}</p>

  <app-child *ngIf="cardVisible"
    [username]="user.name" 
    email="gregor@test.com" 
    [(salary)]="salary" 
    (moreSalaryEvent)="salaryHandler($event)"></app-child>-->

</div>